<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, molestias
  nesciunt. Repudiandae id quisquam aperiam consequuntur aspernatur qui sed nam
  temporibus obcaecati doloribus ipsam delectus ipsum dolore laborum fugit
  soluta suscipit odit ex, omnis distinctio non ullam ut. Reprehenderit odit
  asperiores sit sunt quas fugit molestiae praesentium quibusdam deleniti magni,
  quae inventore sapiente. Natus, veritatis. Delectus fugit neque eius
  accusantium dolorem quas commodi, impedit rerum, voluptates quae vero?
  Consectetur qui dolorem accusantium quo fugiat quaerat hic ab adipisci tempore
  numquam incidunt, aut asperiores at debitis dolorum consequuntur repellat!
  Similique facere optio culpa neque alias vero voluptatum ipsum, voluptates
  nesciunt ratione!</p>

<div id="img-enfant">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam animi
    accusamus a consequatur, sit dolore quas nulla rerum mollitia nisi. Cumque
    quod eius cupiditate tenetur sapiente inventore mollitia blanditiis
    exercitationem!
  </p>

  <img class="about-page" src="/images/about-page.png" alt="zidane enfant" />

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam animi
    accusamus a consequatur, sit dolore quas nulla rerum mollitia nisi. Cumque
    quod eius cupiditate tenetur sapiente inventore mollitia blanditiis
    exercitationem!
  </p>

  <img class="about-page" src="/images/about-page-2.png" alt="zidane cannes" />

</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, molestias
  nesciunt. Repudiandae id quisquam aperiam consequuntur aspernatur qui sed nam
  temporibus obcaecati doloribus ipsam delectus ipsum dolore laborum fugit
  soluta suscipit odit ex, omnis distinctio non ullam ut. Reprehenderit odit
  asperiores sit sunt quas fugit molestiae praesentium quibusdam deleniti magni,
  quae inventore sapiente. Natus, veritatis. Delectus fugit neque eius
  accusantium dolorem quas commodi, impedit rerum, voluptates quae vero?
  Consectetur qui dolorem accusantium quo fugiat quaerat hic ab adipisci tempore
  numquam incidunt, aut asperiores at debitis dolorum consequuntur repellat!
  Similique facere optio culpa neque alias vero voluptatum ipsum, voluptates
  nesciunt ratione!</p>