<h1>Welcome to you Zidane's fan ⚽️</h1>

<div id="left">
  <div id="center">
    <h2>Number's one fan page of the legend !</h2>
  </div>

  <div id="right">
    <h3>Great Player</h3>
    <h3>Amazing Coach</h3>
    <h3>Fantastic French Human Being</h3>
  </div>

</div>