<h1>Works</h1>

<div id="works">

  <div id="player">
    <h3>As a player</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      maiores, exercitationem nostrum expedita nesciunt nisi repellat quam rem
      ad odio laborum, inventore nihil reiciendis nobis repellendus unde
      corrupti quo? Quos excepturi dolore corporis iste omnis nulla iure totam
      sunt nihil.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      maiores, exercitationem nostrum expedita nesciunt nisi repellat quam rem
      ad odio laborum, inventore nihil reiciendis nobis repellendus unde
      corrupti quo? Quos excepturi dolore corporis iste omnis nulla iure totam
      sunt nihil.</p>
    <div id="player-photo">
      <img class="player-page" src="/images/works-1.png" alt="zidane cdm" />

      <img class="player-page" src="/images/works-2.png" alt="zidane ldc" />

      <img
        class="player-page"
        src="/images/works-3.png"
        alt="zidane ballon d'or"
      />

    </div>
  </div>

  <div id="coach">
    <h3>As a coach</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      maiores, exercitationem nostrum expedita nesciunt nisi repellat quam rem
      ad odio laborum, inventore nihil reiciendis nobis repellendus unde
      corrupti quo? Quos excepturi dolore corporis iste omnis nulla iure totam
      sunt nihil.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      maiores, exercitationem nostrum expedita nesciunt nisi repellat quam rem
      ad odio laborum, inventore nihil reiciendis nobis repellendus unde
      corrupti quo? Quos excepturi dolore corporis iste omnis nulla iure totam
      sunt nihil.</p>
  </div>

</div>